.form {
    background: #fff;
    border: 6px solid #000;
    font-size: 1.5em;
    padding: 3em 2em 1em;
    width: 290px;
}

.form-group {
    margin-bottom: 0.2em;

    .label {
        display: inline-block;
        width: 130px;
    }

    .input {
        text-align: right;
        width: 155px;
    }

    .select {
        width: 160px;
    }

    .btn {
        background-color: #fff;
        border: 2px solid #000;
        font-weight: bold;
        padding: 0.35em 0.7em;
        margin-top: 2em;

        &:hover {
            background-color: hotpink;
            color: #fff;
        }

        &:active {
            background-color: #333;
            border-color: magenta;
            color: #fff;
        }
    }

    .btn-clear {
        &:hover {
            background-color: #dedede;
            color: #000;
        }
    }

    .btn-submit {
        margin-left: auto;

        &[disabled]:hover {
            background-color: lightpink;
            cursor: not-allowed;
        }

        &:not([disabled]) {
            cursor: pointer;

            &:active {
                &:after {
                    content: '!';
                }
            }
        }
    }
}

.form-errors {
    color: red;
    font-size: 0.6em;
}

.form-actions {
    display: flex;
}
