.form {
    background: #fff;
    border: 6px solid #000;
    font-size: 1.5em;
    padding: 3em 2em 1em;
}

.form-group {
    margin-bottom: 0.2em;

    .label {
        display: inline-block;
        width: 130px;
    }

    .input {
        text-align: right;
        width: 155px;
    }

    .select {
        width: 160px;
    }

    .btn {
        background-color: #fff;
        border: 2px solid #000;
        font-weight: bold;
        padding: 0.35em 0.7em;
        margin-top: 2em;

        &:hover {
            background-color: hotpink;
            color: #fff;
        }

        &:active {
            background-color: #333;
            border-color: magenta;
            color: #fff;
        }
    }

    .btn-clear {
        &:hover {
            background-color: #dedede;
            color: #000;
        }
    }

    .btn-submit {
        cursor: pointer;
        margin-left: auto;

        &:active {
            &:after {
                content: '!';
            }
        }
    }
}

.form-actions {
    display: flex;
}
